.list {
    position: relative;
}

.tab {
    z-index: 1;
    font-weight: 700;
    transition: color 100ms ease;
    color: #666;

    &[data-active] {
        color: #00A9FF;
        text-shadow: 0 0 6px rgba(0, 169, 255, 0.6);
    }

    @mixin dark {
        color: var(--mantine-color-dark-1);

        &[data-active] {
            color: #00A9FF;
            text-shadow: 0 0 6px rgba(0, 169, 255, 0.6);
        }
    }
}

